doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title W-Homepage
    body
        div.nav 
            div.logo
               img.logoimg(src="/lg10.jpg", alt="", srcset="")
            br 
            div.banner       
                h3=`Welcome Back ${users}`
            div.logout 
                a(href='//localhost:3000/logout')
                    button(id='logout-button') Log Out
            
            div.postButton
                a(href='//localhost:3000/post') 
                    button(id="post-button") Post
        div     
            h2 What is trending 
        
            
        
        