doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/eff4b95ebd.js" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
        title W-rabbit
    body 
        div.nav 
            div.logo
               img.logoimg(src="/lg10.jpg", alt="", srcset="")
            br 
            div.banner       
                p the place where skeletons come out of the closet.
            div.signup 
                a(href='//localhost:3000/signup')
                    button(id='signup-button') Sing Up
            div.login 
                a(href='//localhost:3000/login')
                    button(id='login-button') Log In
            div.postButton
                a(href='//localhost:3000/post') 
                    button(id="post-button") Post
                        
        
        h2 What's trending
       
        div 
            each posts in post 
                div.card
                    div.likes
                        button.votes(id="upvotes" onclick="increaseLikes()" method="POST")
                           a(href='#')
                                i.fa.fa-arrow-up(aria-hidden='true')
                        p.score=`${posts.likes}`
                        button.votes(id="downvotes" onclick="decreaseLikes()")
                            a(href="#")
                                i.fa.fa-arrow-down(aria-hidden='true') 
                    div.content
                        h3=`${posts.title}`
                        p=`${posts.text}`
                        if posts.picture 
                             img.picture(src=`${posts.picture}`)      
        br
    script(type="text/javascript" src="main.js") 

        
            
    