html{
    margin: none;
    padding: none;
}
.nav{
    background-color: rgb(223, 189, 137);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 50px;
}
.logo{
    flex: 1;
    display: flex;
    justify-content: center;
    
}
.logoimg{
    height:50px;
    
}
.banner{
    flex: 2;
    display: flex;
    justify-content: center;
}
.postButton{
    flex: 1;
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    margin: 2%; 
    background-color: rgb(223, 189, 137);
}
.likes{
    display: flex;
    flex-direction: column;
    width: 8%;
    justify-content:center;
}
.votes{
    background-color: transparent;
    font-size: 20px;
    padding: none;
    border: none;
    max-height: fit-content;
}
.content{
    flex:2;
}
#logout-button{
    background-color: rgb(170, 138, 90);
    box-shadow: none;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
#post-button{
    background-color: rgb(170, 138, 90);
    box-shadow: none;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
#login-button{
    background-color: rgb(170, 138, 90);
    box-shadow: none;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
#signup-button{
    background-color: rgb(170, 138, 90);
    box-shadow: none;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}